:root {
    --blue-primary: #2a2a72;
    --blue-secondary: #009ffd;
    --white-primary: #f3f3f3;
    --dark-primary: #232528;
    --yellow-primary: #ffa400;
    --tran-primary: all 500ms ease-in-out;
}

body {
    font-family: 'Oswald', sans-serif !important;
    background: var(--white-primary) !important;
    color: var(--dark-primary) !important;
}

.text-title {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.text-blue {
    color: var(--blue-primary);
}

.text-bright {
    color: var(--blue-secondary);
}